/* resets done on reset.css*/

/*

darks
#2E3440
#3B4252
#434C5E
#4C566A

lights:
#D8DEE9
#E5E9F0
#ECEFF4

*/ 



@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

  
body{
    color:#ECEFF4;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
    background-color:#4C566A;
    }

body *{
    padding: 1%;
}


#searchBoxWrapper, #RollContainer{
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
}

h1,h2,h3,h4,h5{
    text-align: center;
    border-bottom: 1.1em;
    font-weight: 500;
}

ul {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul li{
    list-style-type: none;
    margin: 0.4em 0.4em;
    border-bottom: 0.1em solid #ECEFF4;
}


.spellCard{
 border:.2em dotted rgb(100, 113, 173);
 padding:1em;
 margin-bottom: 1em;
}


#searchBox{
    border: 2px solid #D8DEE9;
    border-radius: 4px;
}

button{
    font-weight: 500;
}